
@media screen and (min-width: 360px) and (max-width:480px)  {
  .post {
    width: 100% !important;
    margin: auto;
  }
  .createPost{
      width: 95% !important;
  }
  .input{
    width:96% !important;
  }
  .singlePost{
    margin: auto;
  }
}
@media screen and (min-width: 481px) and (max-width:560px) {
  .post {
    width: 80% !important;
    margin: auto;
  }
  .createPost{
      width: 75% !important;
      margin: auto;
  }
  .input{
    width:100% !important;
  }
  .singlePost{
    margin: auto;
  }
}
@media screen and (min-width: 561px) and (max-width:625px) {
  .post {
    width: 100% !important;
    
  }
  .createPost{
      width: 9% !important;
      margin: auto;
  }
  .input{
    width:100% !important;
  }
  .singlePost{
    margin: auto;
  }
}
@media screen and (min-width: 626px) and (max-width:990px) {
  .post {
    width: 50% !important;
    
  }
  .createPost{
      width: 75% !important;
      margin: auto;
  }
  .input{
    width:100% !important;
  }
  .singlePost{
    margin: auto;
  }
}
@media screen and (min-width: 991px) {
  .post {
    width: 33% !important;
  }
  .createPost{
      width: 50% !important;
  }
  .input{
    width:100% !important;
  }
  .singlePost{
    margin: auto;
  } 
}